    <!doctype html>
    <html lang="en">
    <head>
        <title>Social Network</title>
        <link rel="stylesheet" type="text/css" href="/public/css/style.css">
        <link rel="stylesheet" type="text/css" href="/public/css/semantic.css">
    </head>
    <body>
        <!-- TOP MENU -->
        <div class="ui red inverted menu">
            <a class="item" href="/index"><i class="home icon"></i> <%=user.name%>'s wall</a>
            <a class="item" href="/news"><i class="grid layout icon"></i> News</a>
            <a class="item" href="/friends"><i class="users icon"></i> My friends</a>
            <a class="item"><i class="setting icon"></i> Profil</a>
            <a class="item" href="/external_news"><i class="grid layout icon"></i> Articles</a>
            <div class="right menu">
                <div class="item">
                    <div class="ui icon input">
                        <form action="search" method="GET">
                            <input type="text" name="user_search" placeholder="Search users...">
                        </form>
                        <i class="search icon"></i>
                    </div>
                </div>
                <a class="ui item" href="/user/logout"><i class="off icon"></i> Logout</a>
            </div>
        </div>
        <!-- END TOP MENU -->

        <div class="ui grid">

            <!-- LEFT MENU -->
            <div class="four wide column">

              <div class="ui vertical menu">
                <div class="header item">
                    <img class="ui avatar floated image" src="/public/images/profil/<%=user.photo%>">
                    <a href="/index"><%=user.name%></a><br><br>
                </div>
                <a class=" item" href="/index"><i class="home icon"></i> My wall</a>
                <a class="item" href="/news"><i class="grid layout icon"></i> All news</a>
                <a class="item" href="/user/show"><i class="setting icon"></i> Profil</a>
              
              <div class="header item">
                <i class="users icon"></i>
                <a href="/friends">Friends</a>
                <div class="ui label"><%=user.friends.count%></div>
              </div>
              <% user.friends.each do |friend| %>
              <div class="item">
                <img class="ui avatar image" src="/public/images/profil/<%=friend.photo%>">
                <a href="/user/wall?id=<%=friend.id%>"><%=friend.name%></a>
              </div>
              <% end %>
            </div>
            </div>
            <!-- END LEFT MENU -->

            <!-- CONTENT PAGE -->
            <div class="column eleven wide">

                <!-- PROFIL HEADER -->
                <div class="ui segment">
                    <img class="ui circular small floated image" src="/public/images/profil/<%=friend.photo%>">
                    <h2> <%=friend.name%></h2>
                    <p class="profil_description"><%=friend.description%></p>
                </div>
                <!-- PROFIL HEADER -->

                <div class="ui segment">
                <!-- CREATE NEW POST FORM -->
                <div class="ui form">
                    <form action="/post/create" method="POST">
                        <input type="hidden" name="wall_id" value="<%=friend.id%>"> 
                      <div class="field">
                        <input type="text" name="message" placeholder="New Post">
                      </div>
                      <input class="ui submit button" type="submit" value="Post">
                    </form>
                </div>
                <!-- END CREATE NEW POST FORM -->

                <!-- LIST OF POST WITH COMMENTS -->
                <div class="ui segment">
                    <h2 class="ui header">
                      Recent Activity
                    </h2>
                    <div class="ui threaded comments">
                      <% posts.each do |post|%>

                    <div class="comment">
                      <a class="avatar"><img src="/public/images/profil/<%=post.photo%>"></a>
                      <div class="content">
                        <a class="author" href="/user/wall?id=<%=post.author_id%>"><%=post.author_name%></a>
                        <div class="metadata"><span class="date"><%=post.pretty_date%></span></div>
                        <div class="text"><%=post.message%></div>
                        <% if post.author_id == user.id %>
                        <div class="actions">
                          <a class="delete" href="/post/delete?post_id=<%=post.id%>&wall_id=<%=friend.id%>">Delete</a>
                        </div>
                        <% end %>
                      </div>
                      <div class="comments">
                        <% post.comments.each do |comment|%>
                        <div class="comment">
                          <a class="avatar"><img class="ui avatar mini image" src="/public/images/profil/<%=comment.author_photo%>"></a>
                          <div class="content">
                            <a class="author" href="/user/wall?id=<%=comment.author_id%>"><%=comment.author_name%></a>
                            <div class="metadata">
                              <span class="date"><%=comment.pretty_date%></span>
                            </div>
                            <div class="text"><%=comment.content%></div>
                          </div>
                        </div>
                        <% end %>

                        <!-- CREATE NEW COMMENT FORM -->
                        <div class="ui reply form">
                            <form action="/comment/create" method="POST"> 
                              <div class="field">
                                <input type="hidden" name="wall_id" value="<%=friend.id%>"> 
                                <input type="hidden" name="post_id" value="<%=post.id%>">
                                <input type="text" name="message" placeholder="Write a comment...">
                              </div>
                            </form>
                        </div>
                        <!-- END CREATE NEW COMMENT FORM -->
                      </div>
                    </div>
                    <%end%>
                  </div>
                </div>
                <!-- END LIST OF POST WITH COMMENTS -->



            </div>
            </div>
        </div>

    </body>
    </html>