<!doctype html>
<html lang="en">
<head>
    <title>Social Network</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <link rel="stylesheet" type="text/css" href="/public/css/semantic.css">
</head>
<body>
    <!-- TOP MENU -->
    <div class="ui red inverted menu">
        <a class="item" href="/index"><i class="home icon"></i> <%=user.name%>'s wall</a>
        <a class="active item" href="/news"><i class="grid layout icon"></i> News</a>
        <a class="item" href="/friends"><i class="users icon"></i> My friends</a>
        <a class="item" href="/user/show"><i class="setting icon"></i> Profil</a>
        <a class="item" href="/external_news"><i class="grid layout icon"></i> Articles</a>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <form action="user/search" method="GET">
                        <input type="text" name="user_search" placeholder="Search users...">
                    </form>
                    <i class="search icon"></i>
                </div>
            </div>
            <a class="ui item" href="/user/logout"><i class="off icon"></i> Logout</a>
        </div>
    </div>
    <!-- END TOP MENU -->

    <div class="ui one column page grid">
        <div class="column">

            <!-- LIST OF POST -->
            <div class="ui piled feed segment">
                  <h2 class="ui header">
                    All recent activities around me
                  </h2>
                  
                  <% posts.each do |post|%>
                  <div class="event">
                    <div class="label">
                      <img class="ui circular small floated image" src="/public/images/profil/<%=post.photo%>">
                      <!-- <i class="circular pencil icon"></i> -->
                    </div>
                    <div class="content">
                      <div class="date">
                        <%=post.pretty_date%>
                      </div>
                      <div class="summary">
                        <a href="/user/wall?id=<%=post.author_id%>"><%=post.author_name%></a> wrote a post on <a href="/user/wall?id=<%=post.user_id%>"><%=post.user_name%></a> wall
                      </div>
                      <div class="extra text">
                        <%=post.message%>
                      </div>
                    </div>
                  </div>
                  <% end %>
              
            </div>
            <!-- END LIST OF POST -->
        </div>
    </div>

</body>
</html>